.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardMezcal{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 4%;
  
}

* {
  margin: 0%;
  padding: 0%;
  font-family: 'Courier New', Courier, monospace;
  
}

body{
  background-image: url("https://res.cloudinary.com/jordynube/image/upload/v1539570847/TohueTohue/img/back.png");
  background-size: cover;
  background-repeat: no-repeat;
}






.nav{
  display: flex;
  justify-content: space-between;
}

.container{
  
 
  margin-top: 15px;
  width: 90%;
  margin:0 auto;
  
}


nav.navbar ul {
  display: flex;
  color: black;
}

nav.navbar li {
  margin: 0 10px;
  list-style: none;

}

nav.navbar a {
  text-decoration: none;
  margin: 0 10px;
  list-style: none;
}


.navbar{
padding: 20px;
justify-content: space-between;
align-items: baseline;
display:flex;



}

.container2 {

display: flex;
justify-content: center;
}

.container3 {
  display: flex;
  width: 80%;
  margin:0 auto; 
  padding: 2%;   
}


.principal{
  
  justify-content: space-between;
  padding: 4%;
  display:flex;
}

.titulo {
  text-align: center;
  padding: 8%;
  background-color: #E7E7EA;
  border-radius: 12px;
}



.tohue{
  text-align: center;
  margin: 30px;
}

.tohue2{
  text-decoration-line: underline;
}

.butcompra {
  width: 80%;
  height: 20%;
  border-radius: 10px;
  font-size: 18px;
  background-color: orange;
}

footer{
  background-color: black;
  color: #E7E7EA;
  text-align: center;
  padding: 2%;
}

/* Nuesto equipo  */

.eqtitle{
  text-align: center;
  margin: 2%;
}


.eqcontainer{
  display: flex;
  width: 80%;
  margin:0 auto; 
  padding: 2%;  
}




.eqcontainerf {
    display: flex;
    align-items: center;
    background-color:  #E7E7EA;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px;
}


.santa {
  
  
  display: flex;

}

.eqcards{
  display: flex;
 
}

.textosanta{
  text-align: center;
  font-size: 15px;
}




/*mezcal*/

.atcmezcal{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin:0 auto;
  
}


.txtmezcal{
  font-size: 20px;
}

.imgmezcal{
  margin: 20px;
}

.titmez{
  width: 80%;
  display: flex;
  margin:0 auto;

}

/*Artesanias */


.imgartesanias{
    display: flex;
    width: 90%;
    margin: 0%;
    justify-content: space-around;
    align-items: center;
}

.imgartesanias2{
  margin: 10px;
  border: solid 6px orange;
}



/* premios*/

.imgpremios{
    display: flex;
    width: 90%;
    margin: 3%;
    
    align-items: center;
    flex-direction: column;
}

